.benefits{
   padding: 0 15px;
   position: relative;
   &__bg{
      background-color: $bg;
      
   }
   &__inner{
      padding: 40px 0;
      display: flex;
      justify-content: space-evenly
   }

   &__item{
      display: flex;
      width: 33.33%;
      justify-content: center;
   }

   &__img{
      object-fit: contain;
      margin-right: 25px;
      margin-top: 8px;
      display: inline;

      
   }
   &__img--decore{
      position:relative;
      &::before{
         content: '';
         position: absolute;
         width: 20px;
         height: 20px;
         border-radius: 50%;
         background-color: #dfe3e2;
         opacity: 0.66;
         top: 32px;
         right: -6px;
      }
   }


   &__img--decore-car{
      position:relative;
      &::before{
         content: '';
         position: absolute;
         width: 20px;
         height: 20px;
         border-radius: 50%;
         background-color: #dfe3e2;
         opacity: 0.66;
         top: 25px;
         right: 20px;
      }
   }
   
   

   &__content{
      width: 210px;
   }

   &__title{
      color: #414141;
      font-size: 18px;
      line-height: 40px;
      @extend %DMSans-Bold;
   }
   &__item-decore{
      
      &::after,
      &::before{
         content: "";
         position:absolute;
         height: 100%;
         width: 1px;
         background-color: #e8e4df;
         top:0;
      }
      &::after{
         left: 33%;
      }
      &::before{
         right: 33%;
      }
   }   
}

@media (max-width: 1200px) {
   .benefits{
      &__img{
         margin-right: 7px;
         padding: 0 0 0 5px;
      }
      &__content{
         width: 200px;
      }
   }
   
}



@media(max-width: 950px){
   .benefits{
      &__inner{
         padding: 20px 0;
      }
      &__img{
         margin-right: 15px;
         
      }
      &__item-decore{
         &::after,
         &::before{
            
            height: 1px ;
            width: calc(100% - 30px) ;
            left: 0;
            right: 0;
            margin: 0 auto;
         }
         &::after{
            top: calc(33% + 30px) ;
         }
         &::before{
            top: 62%;
         }
      }
      &__inner{
         flex-direction: column;
      }
      &__item{
         width: 100%;
         margin: 15px 0;
      }
      &__content{
         width: 100%;
      }
   }   
}
