<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Blog</title>
   <link rel="stylesheet" href="css/blog.min.css">
   <link rel="stylesheet" href="css/style.min.css">
   <link rel="stylesheet" href="css/index.min.css">
</head>

<body>
   <div class="wrapper">


    {% include 'app/module/_header/_header.html' %}
      <main class="main">

         <section class="breadcrumbs">
            <div class="container">
               <h2 class="breadcrumbs__title">Blog</h2>
               <div class="breadcrumbs__links">
                  <a class="breadcrumbs__link" href="#">Home</a>
                  <a class="breadcrumbs__link" href="#">Blog</a>

               </div>
            </div>
         </section>

         <section class="blog">
            <div class="container">
               <div class="blog__inner">
                  <div class="blog__content">
                     <div class="blog__item">
                        <a class="blog__img-link" href="#">
                           <img class="blog__img" src="images/blog/1.jpg" alt="Blog image">
                           <div class="blog__item-decore">
                              <p class="blog__item-date">28 JANUARY, 2020</p>
                              <p class="blog__item-user">BY ADMIN</p>
                           </div>
                        </a>
                        <div class="blog__box">
                           <h4 class="blog__box-title">Fonsectetur adipisicing eiusmod </h4>
                           <p class="blog__box-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                              laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna
                           </p>
                           <a class="blog__box-link" href="#">View More</a>
                        </div>
                     </div>

                     <div class="blog__item">
                        <a class="blog__img-link" href="#">
                           <img class="blog__img" src="images/blog/2.jpg" alt="Blog image">
                           <div class="blog__item-decore">
                              <p class="blog__item-date">28 JANUARY, 2020</p>
                              <p class="blog__item-user">BY ADMIN</p>
                           </div>
                        </a>
                        <div class="blog__box">
                           <h4 class="blog__box-title">Fonsectetur adipisicing eiusmod </h4>
                           <p class="blog__box-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                              laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna
                           </p>
                           <a class="blog__box-link" href="#">View More</a>
                        </div>
                     </div>

                     <div class="blog__item">
                        <a class="blog__img-link" href="#">
                           <img class="blog__img" src="images/blog/3.jpg" alt="Blog image">
                           <div class="blog__item-decore">
                              <p class="blog__item-date">28 JANUARY, 2020</p>
                              <p class="blog__item-user">BY ADMIN</p>
                           </div>
                        </a>
                        <div class="blog__box">
                           <h4 class="blog__box-title">Fonsectetur adipisicing eiusmod </h4>
                           <p class="blog__box-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                              laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna
                           </p>
                           <a class="blog__box-link" href="#">View More</a>
                        </div>
                     </div>

                     <div class="blog__item">
                        <a class="blog__img-link" href="#">
                           <img class="blog__img" src="images/blog/4.jpg" alt="Blog image">
                           <div class="blog__item-decore">
                              <p class="blog__item-date">28 JANUARY, 2020</p>
                              <p class="blog__item-user">BY ADMIN</p>
                           </div>
                        </a>
                        <div class="blog__box">
                           <h4 class="blog__box-title">Fonsectetur adipisicing eiusmod </h4>
                           <p class="blog__box-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                              laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna
                           </p>
                           <a class="blog__box-link" href="#">View More</a>
                        </div>
                     </div>
                     <div class="paginations">
                        <div class="paginations__list">
                           <a class="paginations__link paginations__link--active" href="#">1</a>
                           <a class="paginations__link" href="#">2</a>
                           <a class="paginations__link" href="#">3</a>
                           <a class="paginations__link" href="#">NEXT</a>
                        </div>
                     </div>


                  </div>
                  <div class="blog__aside">

                     <div class="blog__aside-search">
                        <form class="blog__search" action="#">
                           <input class="blog__search-input" type="text">
                           <button class="blog__search-btn"><svg xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                                 <path fill-rule="evenodd"
                                    d="M19.450,19.448 C18.719,20.180 17.531,20.180 16.799,19.448 L12.210,14.860 C13.273,14.177 14.178,13.272 14.861,12.208 L19.450,16.798 C20.182,17.530 20.182,18.718 19.450,19.448 ZM7.499,14.998 C3.358,14.998 0.0,11.640 0.0,7.498 C0.0,3.357 3.358,0.2 7.499,0.2 C11.641,0.2 14.999,3.357 14.999,7.498 C14.999,11.640 11.641,14.998 7.499,14.998 ZM7.499,1.872 C4.398,1.872 1.874,4.396 1.874,7.498 C1.874,10.600 4.398,13.123 7.499,13.123 C10.601,13.123 13.124,10.600 13.124,7.498 C13.124,4.396 10.601,1.872 7.499,1.872 ZM4.374,7.498 L3.124,7.498 C3.124,5.86 5.87,3.123 7.499,3.123 L7.499,4.373 C5.776,4.373 4.374,5.775 4.374,7.498 Z" />
                              </svg></button>
                        </form>
                     </div>

                     <div class="filter-item  filter-category">
                        <h4 class="filter-item__title">Category</h4>
                        <form class="filter-category__form" action="#">
                           <label class="filter-category__label">
                              <input type="checkbox" class="filter-category__input" checked>
                              <span class="filter-category__span">
                                 <p class="filter-category__text">Chair</p>
                                 <img class="filter-categoty__img" src="images/icons/product-arrow.svg" alt="Arrow">
                              </span>
                           </label>
                           <label class="filter-category__label">
                              <input type="checkbox" class="filter-category__input">
                              <span class="filter-category__span">
                                 <p class="filter-category__text">Table</p>
                                 <img class="filter-categoty__img" src="images/icons/product-arrow.svg" alt="Arrow">
                              </span>
                           </label>
                           <label class="filter-category__label">
                              <input type="checkbox" class="filter-category__input">
                              <span class="filter-category__span">
                                 <p class="filter-category__text">Lamp</p>
                                 <img class="filter-categoty__img" src="images/icons/product-arrow.svg" alt="Arrow">
                              </span>
                           </label>
                           <label class="filter-category__label">
                              <input type="checkbox" class="filter-category__input">
                              <span class="filter-category__span">
                                 <p class="filter-category__text">Watch</p>
                                 <img class="filter-categoty__img" src="images/icons/product-arrow.svg" alt="Arrow">
                              </span>
                           </label>
                           <label class="filter-category__label">
                              <input type="checkbox" class="filter-category__input">
                              <span class="filter-category__span">
                                 <p class="filter-category__text">Clock</p>
                                 <img class="filter-categoty__img" src="images/icons/product-arrow.svg" alt="Arrow">
                              </span>
                           </label>
                        </form>
                     </div>

                     <div class="blog__aside-post">
                        <h4 class="blog__post-title">Recent posts</h4>
                        <div class="blog__post-inner">
                           <div class="blog__post-item">
                              <a class="blog__post-link" href="#">
                                 <img class="blog__post-img" src="images/blog/recent/1.jpg" alt="Recent Post">
                              </a>
                              <div class="blog__post-box">
                                 <h6 class="blog__post-name">Corem ipsum dolor tetur adipisicing elit</h6>
                                 <div class="blog__post-date">28 JANUARY, 2020</div>
                              </div>
                           </div>

                           <div class="blog__post-item">
                              <a class="blog__post-link" href="#">
                                 <img class="blog__post-img" src="images/blog/recent/2.jpg" alt="Recent Post">
                              </a>
                              <div class="blog__post-box">
                                 <h6 class="blog__post-name">Fdipisicing elit, sed do eiusmod tempor</h6>
                                 <div class="blog__post-date">28 JANUARY, 2020</div>
                              </div>
                           </div>

                           <div class="blog__post-item">
                              <a class="blog__post-link" href="#">
                                 <img class="blog__post-img" src="images/blog/recent/3.jpg" alt="Recent Post">
                              </a>
                              <div class="blog__post-box">
                                 <h6 class="blog__post-name">Eonsectetur adipisicing elit, sed do eiusmod </h6>
                                 <div class="blog__post-date">28 JANUARY, 2020</div>
                              </div>
                           </div>

                           <div class="blog__post-item">
                              <a class="blog__post-link" href="#">
                                 <img class="blog__post-img" src="images/blog/recent/4.jpg" alt="Recent Post">
                              </a>
                              <div class="blog__post-box">
                                 <h6 class="blog__post-name">gnim ad minim veniam, quis nostrud </h6>
                                 <div class="blog__post-date">28 JANUARY, 2020</div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </section>
      {% include 'app/module/_partners--single/_partners--single.html' %}
         
      </main>
     {% include 'app/module/_footer/_footer.html' %}

   </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>
   <script src="js/main.min.js"></script>
</body>

</html>