<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Index</title>
   <link rel="stylesheet" href="css/index.min.css">

</head>

<body>


   <div class="wrapper">

      {% include 'app/module/_header/_header.html' %}

      <main class="main">
          {% include 'app/module/_top-slider/_top-slider.html' %}
          {% include 'app/module/_benefits/_benefits.html' %}
          {% include 'app/module/_week/_week.html' %}
          {% include 'app/module/_news/_news.html' %}
          {% include 'app/module/_new-design/_new-design.html' %}
          {% include 'app/module/_video/_video.html' %}
          {% include 'app/module/_article/_article.html' %}
          {% include 'app/module/_partners/_partners.html' %}

       

        

      </main>

      {% include 'app/module/_footer/_footer.html' %}

   </div>
   <script src="js/main.min.js"></script>
</body>

</html>