<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Terms & Conditions</title>
   <link rel="stylesheet" href="css/terms.min.css">
   <link rel="stylesheet" href="css/style.min.css">
   <link rel="stylesheet" href="css/index.min.css">

</head>

<body>
   <div class="wrapper">


     {% include 'app/module/_header/_header.html' %}
      <main class="main">

         <section class="breadcrumbs">
            <div class="container">
               <h2 class="breadcrumbs__title">Terms & Conditions</h2>
               <div class="breadcrumbs__links">
                  <a class="breadcrumbs__link" href="#">Home</a>
                  <a class="breadcrumbs__link" href="#">Terms & Conditions</a>

               </div>
            </div>
         </section>

         <section class="terms">
            <div class="container">
               <div class="terms__inner">
                  <div class="terms__item">
                     <h4 class="terms__title ">
                        Types of Personal Information We Collect
                     </h4>
                     <div class="terms__content">
                        <p class="terms__content-num">01.</p>
                        <p class="terms__content-descr">
                           Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                           aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                           ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                           dolore </p>
                     </div>
                     <div class="terms__content">
                        <p class="terms__content-num">02.</p>
                        <p class="terms__content-descr">
                           Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                           aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                           ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                           dolore
                        </p>
                     </div>
                     <div class="terms__content">
                        <p class="terms__content-num">03.</p>
                        <p class="terms__content-descr">
                           Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                           aliqua.
                        </p>
                     </div>
                     <div class="terms__content">
                        <p class="terms__content-num">04.</p>
                        <p class="terms__content-descr">
                           Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                           aliquip ex ea commodo consequat.
                        </p>
                     </div>
                     <div class="terms__content">
                        <p class="terms__content-num">05.</p>
                        <p class="terms__content-descr">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        </p>
                     </div>
                  </div>
                  <div class="terms__item">
                     <h4 class="terms__title">
                        How marketpmss.com Collects Personal Infonnation
                     </h4>
                     <p class="terms__text">
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore </p>
                  </div>

                  <div class="terms__item">
                     <h4 class="terms__title">
                        How marketprosscom Uses Personal Information
                     </h4>
                     <p class="terms__text">
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore </p>
                  </div>
               </div>
            </div>
         </section>
         <section class="article">
            <div class="container">
               <div class="article__nav">
                  <h2 class="article__title">Our Insights & Articles</h2>
                  <a class="article__link" href="#">View All</a>
               </div>
               <div class="article__inner">
                  <div class="article__item">
                     <div class="article__item-img--inner">
                        <img class="article__item-img" src="images/article/photo-1.jpg" alt="Article image"></img>
                        <div class="article__item-decore">NEWS</div>
                     </div>
                     <div class="article__item-wrapper">
                        <p class="article__item-descr">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                           enimad minim veniam
                        </p>
                        <div class="article__item-inner">
                           <p class="article__date">28 JANUARY, 2020</p>
                           <p class="article__author">BY ADMIN</p>
                        </div>
                     </div>
                  </div>
                  <div class="article__item">
                     <div class="article__item-img--inner">
                        <img class="article__item-img" src="images/article/photo-2.jpg" alt="Article image"></img>
                        <div class="article__item-decore">NEWS</div>
                     </div>
                     <div class="article__item-wrapper">
                        <p class="article__item-descr">Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                           labore et dolore
                        </p>
                        <div class="article__item-inner">
                           <p class="article__date">28 JANUARY, 2020</p>
                           <p class="article__author">BY ADMIN</p>
                        </div>
                     </div>
                  </div>
                  <div class="article__item">
                     <div class="article__item-img--inner">
                        <img class="article__item-img" src="images/article/photo-3.jpg" alt="Article image"></img>
                        <div class="article__item-decore">NEWS</div>
                     </div>
                     <div class="article__item-wrapper">
                        <p class="article__item-descr">Rncididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <div class="article__item-inner">
                           <p class="article__date">28 JANUARY, 2020</p>
                           <p class="article__author">BY ADMIN</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <section class="partners">
            <div class="container">
               <div class="partners__inner">
                  <img class="partners__img" src="images/partners/partner-1.png" alt="Name Partner">
                  <img class="partners__img" src="images/partners/partner-2.png" alt="Name Partner">
                  <img class="partners__img" src="images/partners/partner-3.png" alt="Name Partner">
                  <img class="partners__img" src="images/partners/partner-4.png" alt="Name Partner">
                  <img class="partners__img" src="images/partners/partner-5.png" alt="Name Partner">
               </div>
            </div>
         </section>
      </main>
      {% include 'app/module/_footer/_footer.html' %}

   </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>
   <script src="js/main.min.js"></script>
</body>

</html>