.partners{
   background-color: $bg;
   padding: 260px 0 85px;
   
   &__inner{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 20px;
   }

   &__img{
      object-fit: contain;
   }
}
@media(max-width:950px){

}